.body
    .boxMargin
        margin-top: 15px
        padding-top: 15px
        padding-bottom: 15px
    .picture 
        height: 100vh
        background-image: linear-gradient(to bottom, rgba(100, 100, 100, 0.1), rgba(22, 22, 22, 1)), url("../../images/115440_black-car-wallpapers_1280x1024_h.jpg")
        background-size: cover
        .pictureText 
            color: $base_color_white
            height: 70%
            h2
                font-size: 60px
                font-weight: 100


    .boardCar
        color: $base_color_white
        background: $base_color_black
        h3
            font-size: 60px
            font-weight: 100
        h4 
            font-weight: 700

        .boardRight
            .boardRight_1
                margin-right: -15px
                overflow: hidden
                height: 30vh
                background: $base_color
                img
                    width: 100%
                    height: auto

        .boardRight_small
            .boardRight_2
                height: 45vh
                border: 1px solid $base_color_gray_1
                
            .boardRight_3
                margin-right: -15px
                height: 50vh
                background: $base_color_gray_1
                color: $base_color_black
                overflow: hidden
                img
                    position: absolute
                    bottom: -20%
                    width: 200%
                    height: auto

        .boardLeft
            .boardLeft_4
                height: 30vh
                background: $base_color_white
                color: $base_color_black
                
            .boardLeft_5
                height: 40vh
                background: $base_color_gray_2


    .boardCar2
        color: $base_color_white
        background: $base_color_white
        h3
            font-size: 60px
            font-weight: 100
        h4 
            font-weight: 700

        .boardRight
            padding-right: 0px
            .boardRight_6
                overflow: hidden
                height: 55vh
                background-image: url("../../images/original.jpg")
                background-size: cover
                img
                    width: 100%
                    height: auto

        .boardLeft
            .boardLeft_7
                height: 30vh
                background: $base_color_black
            .boardLeft_8
                height: 20vh
                background: $base_color