.picture 
    height: 70vh
    background-image: url("../../images/115440_black-car-wallpapers_1280x1024_h.jpg")
    background-size: cover

    .pictureText 
        color: $base_color_white
        font-size: 40px