.body
    .picture 
        height: 100vh
        background-image: url("../../images/115440_black-car-wallpapers_1280x1024_h.jpg")
        background-size: cover

        .pictureText 
            color: $base_color_white
            height: 70%

            h2
                font-size: 60px
                font-weight: 100

    .boardCar
        color: $base_color_black
        height: 80vh
        h3
            font-size: 60px
            font-weight: 100
        h4 
            font-weight: 700

        .boardRight
            .boardRight_1
                overflow: hidden
                height: 30vh
                background-color: $base_color
                color: $base_color_white
                img
                    width: 100%
                    height: auto


        .boardRight_small
            .boardRight_2
                height: 45vh
                background-color: $base_color_white
                
            .boardRight_3
                height: 50vh
                background-color: $base_color_gray_1
                overflow: hidden
                img
                    position: absolute
                    bottom: -20%
                    width: 200%
                    height: auto

        .boardLeft
            .boardLeft_4
                height: 30vh
                background-color: $base_color_white
                
            .boardLeft_5
                height: 40vh
                background-color: $base_color_gray_2
                color: $base_color_white

    .boardCar2
        color: $base_color_black
        height: 80vh
        h3
            font-size: 60px
            font-weight: 100
        h4 
            font-weight: 700

        .boardRight
            .boardRight_6
                overflow: hidden
                height: 55vh
                background-image: url("../../images/original.jpg")
                background-size: cover
                color: $base_color_white
                img
                    width: 100%
                    height: auto

        .boardLeft
            .boardLeft_7
                overflow: hidden
                height: 30vh
                background-color: $base_color_black
                color: $base_color_white
                img
                    width: 100%
                    height: auto
            .boardLeft_8
                overflow: hidden
                height: 20vh
                background-color: $base_color
                color: $base_color_white
                img
                    width: 100%
                    height: auto